[submodule "ss-panel"]
	path = ss-panel
	url = https://github.com/zhukangfeng/ss-panel.git
	branch = master
[submodule "shadowsocks-py-mu"]
	path = shadowsocks-py-mu
	url = https://github.com/zhukangfeng/shadowsocks-py-mu.git
[submodule "l2tp-ipsec-vpn-server"]
	path = l2tp-ipsec-vpn-server
	url = https://github.com/zhukangfeng/l2tp-ipsec-vpn-server.git
